<h1>{{title}}</h1>
{{#if user}}
<a href="/grocery/create"> Add a New Item</a>
{{/if}}

<form action="/" method="post">
    <table class="table">
        <thead class="thead-dark bg-dark text-light">
        <tr>
            <th scope="col">Grocery Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {{#each groceries}}
            <tr>
                    <td>{{this.groceries}}</td>
                    <td>{{this.quantity}}</td>
                    <td>
                        {{#if ../user}}
                            <a href="/grocery/edit/{{this._id}}" class="btn border-shadow update">
                                <span class="text-gradient"><i class="fas fa-pencil-alt"></i> </span>
                            </a>
                            <a href="/grocery/delete/{{this._id}}" class="btn border-shadow delete">
                                <span class="text-gradient"><i class="fas fa-trash-alt"></i> </span>
                            </a>
                        {{/if}}
                    </td>
            </tr>
        {{/each}}

        </tbody>
    </table>
</form>